doctype html
html(lang="en")
    include includes/head
    body
        include includes/header
        main.container-fluid(role="main")
            .row
                .col-md-12
                    img(class="img-fluid w-100" src="https://ec-us-i5.wal.co/dfw/4ff9c6c9-d6a9/k2-_d8b7b63f-94f2-4d09-a300-9fcfcdb71e2b.v1.jpg-f632521fe7e2497cad63a2e20bcc6173da78268e-optim-1360x600.jpg?odnBg=ffffff")
            hr
            .row
                .col-md-4
                    img(class="img-fluid" src="https://i5.walmartimages.com/dfw/4ff9c6c9-b8a9/k2-_a28efbb8-e8dd-4ecb-9e13-e68b1c78f92a.v1.jpg?odnWidth=444&odnHeight=622&odnBg=ffffff")
                .col-md-4
                    img(class="img-fluid" src="https://i5.walmartimages.com/dfw/4ff9c6c9-9259/k2-_21616af1-4daf-4096-b38c-38d162eabbc5.v1.jpg?odnWidth=444&odnHeight=622&odnBg=ffffff")
                .col-md-4
                    img(class="img-fluid" src="https://i5.walmartimages.com/dfw/4ff9c6c9-f184/k2-_6229ad33-345d-4944-967e-65d0ca5b62e3.v1.jpg?odnWidth=444&odnHeight=622&odnBg=ffffff")
        include includes/footer